/* You can add global styles to this file, and also import other style files */

.artist-header{
    text-align: center;
}

.artist-thumb{
    width:80vw;
    display:block;
    margin:0 auto;
};

.album-thumb{
    widows: 100%;;
}